<?xml version="1.0" encoding="utf-8" ?>
<!-- GUI SERVER -->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--<system.serviceModel>
    <services>
      <service name="stocksharp.ServiceContracts.WorkService" behaviorConfiguration="mexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8010/WorkService"/>
            <add baseAddress="http://localhost:8020/WorkService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="stocksharp.ServiceContracts.IWorkService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>  
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
</configuration>